<% addressData.forEach(address => { %>
    <div id="editAddressModal-<%= address._id %>" class="modal">
        <%= console.log(address._id); %>
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Address</h2>
            <form action="/addressEdit/<%= address._id %>" method="post" id="addressModal-<%= address._id %>">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"  name="name" class="form-control" required value="<%= address.firstName %>">
                </div>
                <div class="form-group">
                    <label for="mobile">Lastname</label>
                    <input type="text"  name="mobile" class="form-control" value="<%= address.lastName %>">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text"  name="address" class="form-control" required value="<%= address.address %>">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pinCode">Postal Code</label>
                        <input type="text"  name="pinCode" class="form-control" required value="<%= address.pin %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="street">Street</label>
                        <input type="text"  name="street" class="form-control" required value="<%= address.street %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text"  name="city" class="form-control" required value="<%= address.city %>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="state">State</label>
                        <input type="text"  name="state" class="form-control" required value="<%= address.state %>">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Address</button>
            </form>
        </div>
    </div>
<% }) %>


<script> 

    // Get the modal
const modal = document.getElementById('addressModal');

// Get the button that opens the modal
const btn = document.getElementById('openModalBtn');

// Get the <span> element that closes the modal
const span = document.getElementsByClassName('close')[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
modal.style.display = 'block';
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = 'none';
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = 'none';
  }
}
</script>





<script>
    document.addEventListener("DOMContentLoaded", function() {
    const editLinks = document.querySelectorAll('.edit-address');

    editLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();

            const addressId = link.getAttribute('data-address-id');
            const modal = document.getElementById('editAddressModal-' + addressId);

            modal.style.display = 'block';
        });
    });

    const spans = document.querySelectorAll(".modal-content .close");

    spans.forEach(function(span) {
        span.addEventListener('click', function() {
            const modal = span.closest('.modal');
            modal.style.display = 'none';
        });
    });
});


</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
      var selectElement = document.getElementById("statusSelect");
      loadProduct("all")
    })

      selectElement.addEventListener("change", function () {
        var selectedValue = selectElement.value;
        var data = {
          status: selectedValue,
        };
      })


  function loadProduct(all){
        fetch("/productList")
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then(data => {
      console.log('Response:', data);
      const productData=data.productlist;
      // Handle response data
      const tbody = document.getElementById('product-data');
      let html = '';
   html += `<div id="product-list">`;

      productData.forEach((product) => {
          const dateString = product.date;
          const date = new Date(dateString);
          const year = date.getFullYear();
          const month = date.getMonth() + 1;
          const day = date.getDate();
          const formattedDate = `${day}-${(month < 10 ? '0' : '') + month}-${(day < 10 ? '0' : '') + year}`;
      
          html += `
          <div class="row align-items-center pt-3">
              <div class="col-lg-3 col-sm-4 col-8 flex-grow-1 col-name">
                  <a class="itemside" href="#">
                      <div class="left">
                          <img src="${product.file[0]}" class="img-sm img-thumbnail" alt="Item" />
                      </div>
                      <div class="info">
                          <h6 class="mb-0">${product.productName}</h6>
                      </div>
                  </a>
              </div>
              <div class="col-lg-2 col-sm-2 col-4 col-price">
                  <span>${product.price}</span>
              </div>
              <div class="col-lg-1 col-sm-2 col-4 col-status">
                  <span class="badge rounded-pill alert-success">${product.status}</span>
              </div>
              <div class="col-lg-2 col-sm-2 col-4 col-date">
                  <span>${formattedDate}</span>
              </div>
              <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                  <a href="/admin/editProduct/${product._id}" class="btn btn-sm font-sm rounded btn-brand">
                      <i class="material-icons md-edit"></i> Edit
                  </a>`;
                  
          if (product.status === "listed") {
              html += `
                  <a href="#" class="btn btn-sm font-sm btn-light rounded" onclick="listProduct('${product._id}')">
                      <i class="material-icons md-delete_forever"></i> Unlist
                  </a>`;
          } else {
              html += `
                  <a href="#" class="btn btn-sm font-sm btn-light rounded" style="width: 70px" onclick="unlistProduct('${product._id}')">
                      <i class="material-icons md-delete_forever"></i> List
                  </a>`;
          }
                  
          html += `</div></div>`;
      });
      
       html += `</div>`;
      tbody.innerHTML = html;
  
      
 

              
            console.log("Server response:", responseData)
          })
          .catch((error) => {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
          });
      }
  </script>



<div class="row">
    <!-- single product -->
    <%productlist.forEach(product=>{%>
    <div class="col-lg-3 col-md-6">
        <div class="single-product">
            <a href="/userProduct/<%=product._id%>">
            <img class="img-fluid" src="<%=product.file[0]%>" alt="">
        </a>
            <div class="product-details">
                <h6><%=product.productName%></h6>
                <div class="price">
                    <h6>Rs <%=product.offer%></h6>
                    <h6 class="l-through">Rs <%=product.price%></h6>
                </div>
                <div class="prd-bottom" id="wish_icon<%=product._id%>">

                    <a href="" class="social-info">
                        <i class="fa-solid fa-cart-plus fa-2x text-warning"></i>
                        <p class="hover-text">add to bag</p>
                    </a>
                    <%if(wishlist){%>
                    <%if(wishlist.products.includes(product._id)){%>
                    <a href="#" onclick="addWishlist('<%=product._id%>')" class="social-info">
                        <i class="fab fa-gratipay fa-2x text-primary"></i>
                        <p class="hover-text">Remove Wishlist</p>
                    </a>
                    <%}else{%>
                        <a href="#" onclick="addWishlist('<%=product._id%>')" class="social-info">
                            <i class="fab fa-gratipay fa-2x text-warning"></i>
                            <p class="hover-text">Add Wishlist</p>
                        </a>
                        <%}}else{%>
                            <a href="#" onclick="addWishlist('<%=product._id%>')" class="social-info">
                                <i class="fab fa-gratipay fa-2x text-warning"></i>
                                <p class="hover-text">Add Wishlist</p>
                            </a>
                            <%}%>
                    <a href="" class="social-info">
                        <i class="fas fa-rotate fa-2x text-warning"></i>
                        <p class="hover-text">compare</p>
                    </a>
                    <a href="" class="social-info">
                        <i class="fas fa-arrows-up-down-left-right fa-2x text-warning"></i>
                        <p class="hover-text">view more</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%})%>
</div>