<%-include("../layoutAdmin/header.ejs")%>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List</h2>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control"  id="searchInput"/>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select id="orderStatus" class="form-select">
                        <option value="all">Show all</option>
                        <option value="Not Processed">Not Processed</option>
                        <option value="Processing">Processing</option>
                        <option value="Dispatched">Dispatched</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Returned">Returned</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <a href="" class="btn btn-primary" id="sendButton">submit</a>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th> 
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody id="orderTableBody">
                      
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-15 mb-50" id="page-number">
       
    </div>
</section>

<script>

document.addEventListener('DOMContentLoaded', function() {
filter("all","",1)
console.log(111,"anu");
})

    document.getElementById('sendButton').addEventListener('click', function() {
        event.preventDefault()
    const selectElement = document.getElementById('orderStatus');
    const selectedValue = selectElement.value;
        filter(selectedValue,"",1)
    })

    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('input', function() {
        const selectedValue = document.getElementById('orderStatus').value;
        const searchQuery = searchInput.value.trim();
        if (searchQuery) {
            console.log(searchQuery);
            filter(selectedValue,searchQuery,1);
        } 
        
    });

function pagination(pageNum){
    const selectedValue = document.getElementById('orderStatus').value;
    const searchValue=document.getElementById('searchInput').value;
    filter(selectedValue,searchValue,pageNum)
    console.log(pageNum);
}

    function filter(status,search,pageNum){
        console.log("aaaa",search,pageNum);
        fetch(`/admin/orderListLoadFetch?status=${status}&search=${search}&pageNum=${pageNum}`)
    .then(response => {
        if (!response.ok) {
            console.log('Failed to send data to server.');
        }
        return response.json();
    })
    .then(data => {
        const orderTableBody = document.getElementById('orderTableBody');
        orderTableBody.innerHTML = ''; // Clear existing content

        if (data && data.orderData && data.orderData.length > 0) {
            data.orderData.forEach(order => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${order.orderId}</td>
                    <td><b>${order.userId?.name}</b></td>
                    <td>${order.userId?.email}</td>
                    <td>${order.totalPrice}</td>
                    <td><span class="badge rounded-pill alert-warning">${order.orderStatus}</span></td>
                    <td>${order.createdAt}</td>
                    <td class="text-end">
                        <a href="/admin/orderDetails/${order._id}" class="btn btn-md rounded font-sm">Detail</a>
                    </td>
                `;
                orderTableBody.appendChild(tr);
            });
            console.log(data.pageNum);
            const page = document.getElementById('page-number');

            let pg =` <div class="flex-c-m flex-w w-full p-t-38" style="text-align: center;" id="pageButton">
                    <span>Page</span>`
					for (let i = 1; i <= data.pages; i++) {
                        
                        pg +=` <a href="#" id="page${i }" class="flex-c-m how-pagination1 trans-04 m-all-7 btn " onclick="pagination(${i})" style="text-align: center; font-size: large; color: ${ data.pageNum == i} ? 'green' : 'red';">
                            ${i}
					  </a>`
					} 
                    pg +=` </div>`
                    page.innerHTML = pg;

        } else {
            // Handle case where no data is returned
            orderTableBody.innerHTML = '<tr><td colspan="7">No data available</td></tr>';
        }
        console.log('Server response:', data);
    })
    .catch(error => {
        console.error('Error sending data to server:', error);
    });
};

</script>

<%-include("../layoutAdmin/footer.ejs")%>