<%-include("../layoutAdmin/header.ejs")%>

<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcW" crossorigin="anonymous"> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcW" crossorigin="anonymous"></script> -->

<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Products List</h2>
      <!-- <p>Lorem ipsum dolor sit amet.</p> -->
    </div>
    <div>
      <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded"
        >Create new</a
      >
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row ">
        <div class="col col-check flex-grow-0"></div>
        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
          <select class="form-select" id="category-select">
            <option selected>All category</option>
            <%category.forEach(cat=>{%>
            <option value="<%=cat.name%>"><%=cat.name%></option>
            <% }) %>
            <!-- <option>Clothes</option>
            <option>Automobile</option> -->
          </select>
        </div>
        <div class="col-4 row">
          
          <input
            list="search_terms"
            type="text"
            class="form-control"
            placeholder="Search product"
          />
          <span><button class="btn btn-light bg" type="button">
            <i class="material-icons md-search"></i>
          </button></span>
        </div>

        <div class="col-md-4 col-6">
          <select id="statusSelect" class="form-select">
            <option value="" selected>Show all</option>
            <option value="listed">Listed</option>
            <option value="unlisted">Unlisted</option>
          </select>
        </div>
      </div>
    </header>
    <!-- card-header end// -->

    <!-- <div class="card-body" > -->
    <article class="itemlist p-3" id="product-data">
      <!-- row .// -->
    </article>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button> -->
    <!-- <button id="openModalBtn" class="btn btn-primary">Open Modal</button> -->

    <div class="pagination-area mt-15 mb-50" id="page-number">
      <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
              <li class="page-item">
                  <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
              </li>
          </ul>
      </nav> -->
  </div>
  </div>
</section>
    <!-- </div> -->

   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

    <script>
      async function unlistProduct(productId) {
        const result = await Swal.fire({
          title: "Are you sure to List?",
          icon: "question",
          showCancelButton: true,
          confirmButtonColor: "#28a745",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, list !",
        });

        if (result.isConfirmed) {
          // window.location.href = "/admin/unlistProduct/" + productId;
          fetch("/admin/unlistProduct/" + productId)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              productLoad();
              // $("#product-list").load(location.href + " #product-list");
              // Do something with the JSON data
              // console.log(data);
            })
            .catch((error) => {
              console.error(
                "There was a problem with the fetch operation:",
                error
              );
            });
        }
      }
      async function listProduct(productId) {
        const result = await Swal.fire({
          title: "Are you sure to Unlist?",
          icon: "question",
          showCancelButton: true,
          confirmButtonColor: "#28a745",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, Unlist !",
        });

        if (result.isConfirmed) {
          // window.location.href = "/admin/listProduct/" + productId;
          fetch("/admin/listProduct/" + productId)
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              productLoad();
              // $("#product-list").load(location.href + " #product-list");
              // Do something with the JSON data
              console.log(data);
            })
            .catch((error) => {
              console.error(
                "There was a problem with the fetch operation:",
                error
              );
            });
        }
      }
      function productLoad() {
        var selectElement = document.getElementById("statusSelect");
        var selectedValue = selectElement.value;
        var data = {
          status: selectedValue,
        };
        console.log(data);
        loadProduct();
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var selectedValue = document.getElementById("statusSelect").value;
        loadProduct();
      });
      var selectElement = document.getElementById("statusSelect");
      selectElement.addEventListener("change", function () {
        var selectedValue = selectElement.value;
        var data = {
          status: selectedValue,
        };
        console.log(data);
        loadProduct();
        // Call loadProduct function with selected value
      });


      function pagination(pageNum){
        loadProduct(pageNum)
      }


      function loadProduct(pageNum) {
        let status = document.getElementById("statusSelect").value;
        var category = document.getElementById("category-select").value;
        fetch(`/admin/productListLoad?status=${status}&category=${category}&pageNum=${pageNum}`)
          .then((response) => {
            // console.log('Response:', response);
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            // console.log('Response:', data);
            const productData = data.productlist;

            // Handle response data
            const tbody = document.getElementById("product-data");
            let html = "";
            html += `<div id="product-list">`;

            productData.forEach((product) => {
              const dateString = product.date;
              const date = new Date(dateString);
              const year = date.getFullYear();
              const month = date.getMonth() + 1;
              const day = date.getDate();
              const formattedDate = `${day}-${
                (month < 10 ? "0" : "") + month
              }-${(day < 10 ? "0" : "") + year}`;

              html += `
                    <div class="row align-items-center pt-3">
                        <div class="col-lg-3 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="${product.file[0]}" class="img-sm img-thumbnail" alt="Item" />
                                </div>
                                <div class="info">
                                    <h6 class="mb-0">${product.productName}</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price">
                            <span>${product.price}</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-status">
                            <span class="badge rounded-pill alert-success">${product.status}</span>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-date">
                            <span>${formattedDate}</span>
                        </div>
                        <div class="col-lg-4 col-sm-2 col-4 col-action text-end">`
              if(product.offerId){
                html += ` <a onclick="removeOffer('${product._id}')" class="btn btn-sm font-sm rounded btn-brand add-offer-btn" >
                            <i class="material-icons md-edit"></i>Remove offer
                            </a>`
                }else{
                  
                            html += ` <a href="/admin/offerLoadProduct?id=${product._id}&status=product" class="btn btn-sm font-sm rounded btn-brand add-offer-btn" >
                            <i class="material-icons md-edit"></i>  Apply offer
                            </a>`
                      }
                   html += ` <a href="/admin/editProduct/${product._id}" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Edit
                            </a>`;

              if (product.status === "listed") {
                html += `
                            <a href="#" class="btn btn-sm font-sm btn-light rounded" onclick="listProduct('${product._id}')">
                                <i class="material-icons md-delete_forever"></i> Unlist
                            </a>`;
              } else {
                html += `
                            <a href="#" class="btn btn-sm font-sm btn-light rounded" style="width: 70px" onclick="unlistProduct('${product._id}')">
                                <i class="material-icons md-delete_forever"></i> List
                            </a>`;
              }

              html += `</div></div>`;
            });

            html += `</div>`;
            tbody.innerHTML = html;
          
          const page = document.getElementById('page-number');

let pg =` <div class="flex-c-m flex-w w-full p-t-38" style="text-align: center;" id="pageButton">
        <span>Page</span>`
for (let i = 1; i <= data.pages; i++) {
            
            pg +=` <a href="#" id="page${i }" class="flex-c-m how-pagination1 trans-04 m-all-7 btn " onclick="pagination(${i})" style="text-align: center; font-size: large; color: ${ data.pageNum == i} ? 'green' : 'red';">
                ${i}
</a>`
} 
        pg +=` </div>`
        page.innerHTML = pg;
          })
          .catch((error) => {
            console.error(
              "There was a problem with the fetch operation:",
              error
            );
          });
      }
// remove offer
      function removeOffer(productId){
        
        
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
          console.log(productId)
        fetch(`/admin/removeOffer?id=${id}&status=product`)
.then(response => {
    if (!response.ok) {
        throw new Error('Network response was not ok');
    }
    return response.json();
})
.then(data => {
    console.log('Success:', data);
    productLoad()
})
.catch((error) => {
    console.error('Error:', error);
});

      }
            console.log("Removing offer for product ID:", productId);
        })
    };

// add offer
    function addOffer(productId){
      console.log(productId)

      fetch(`/admin/offerLoadProduct?productId=${productId}`)
.then(response => {
    if (!response.ok) {
        throw new Error('Network response was not ok');
    }
    return response.json();
})
.then(data => {
    console.log('Success:', data);
    productLoad()
})
.catch((error) => {
    console.error('Error:', error);
});
    }
       

    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const addOfferButtons = document.querySelectorAll(".add-offer-btn");
        addOfferButtons.forEach((button) => {
          button.addEventListener("click", () => {
            // Trigger the modal when the button is clicked
            console.log("btn clicked");
            $("#exampleModal").modal("show");
          });
        });
      });
    </script>

    <%-include("../layoutAdmin/footer.ejs")%>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your Modal Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your modal content goes here.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- You can add additional buttons here if needed -->
        </div>
      </div>
    </div>
  </div>

