<%-include("../layouts/header")%>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="d-flex justify-content-center align-items-center">
<div class="card text-center " style="width: 300px;">
    <div class="card-header h5 text-white bg-warning">Forgot password</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="typeEmail" class="form-control my-3" />
            <p id="emailError" style="color: red;"></p>
        </div>
        <a href="#" id="resetBtn" class="btn btn-warning w-100">Reset password</a>
        
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#resetBtn').click(function(e) {
            e.preventDefault();
            var email = $('#typeEmail').val();
            
            // Validate email
            var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(email)) {
                document.getElementById('emailError').innerHTML = 'Please enter a valid email address.';
                return;
            } else {
                document.getElementById('emailError').innerHTML = ''; 
            }
            
            // AJAX request
            $.ajax({
                type: 'POST',
                url: '/forgotPassword', 
                data: { email: email },
                success: function(response) {
                    // Handle success response
                    console.log(response);
                    alert('Password reset instructions sent to your email.');
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error(xhr.responseText);
                    document.getElementById('emailError').innerHTML =xhr.responseText.message;
                }
            });
        });
    });
    </script>


<%-include("../layouts/footer")%>