<%-include("../layouts/header")%>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="d-flex justify-content-center align-items-center">
    <div class="card text-center " style="width: 300px;">
        <div class="card-header h5 text-white bg-warning">Forgot password</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div class="form-outline">
                <input type="password" id="typePassword" class="form-control my-3" placeholder="New Password" />
                <input type="password" id="confirmPassword" class="form-control my-3" placeholder="Confirm Password" />
                <p id="errorMessage" style="color: red;"></p>
            </div>
            <button id="resetBtn" class="btn btn-warning w-100">Reset password</button>
         </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#resetBtn').click(function(e) {
            e.preventDefault();
            
            var password = $('#typePassword').val();
            var confirmPassword = $('#confirmPassword').val();
            console.log(password)
            // Validate password
            if (password.trim().length < 8) {
                $('#errorMessage').html('Password must be at least 8 characters long.')
                
                return;
            } else if (password !== confirmPassword) {
                $('#errorMessage').html('Passwords do not match.').show();
                return;
            } else {
                $('#errorMessage').hide();
            }
            
            // AJAX request
            $.ajax({
                type: 'POST',
                url: '/setPassword', 
                data: {  password: password },
                success: function(response) {
                    // Handle success response
                    window.location.href = "/home";
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    console.error(xhr.responseText);
                    $('#errorMessage').html('User not found').show();
                    $('#successMessage').hide();
                }
            });
        });
    });
    </script>



<%-include("../layouts/footer")%>